<div class="row">
    <div class="col-6">
<fieldset class="text-bg-primary p-3">
<h1 class="text-center">User Information</h1>
<form class="form" [formGroup]="form" (ngSubmit)="submit()">
    <fieldset class="bg-light bg-gradient mt-3">
<h3 class="text-dark">PersonalDetails</h3>
<div class="row m-3">
    <div class="row">
        <div class="col-6 mt-2">
            <input type="text" class="form-control" formControlName="firstName" name="firstName" placeholder="FirstName" >
        </div>
        <div class="col-6 mt-2">
             <input type="text" class="form-control" formControlName="lastName" name="lastName" placeholder="LastName">
        </div>
    </div>
    <div class="row">
        <div class="col-6 mt-2">
            <input type="text" class="form-control" formControlName="contact" name="contact" placeholder="Contact" >
        </div>
        <div class="col-6 mt-2">
             <input type="text" class="form-control" formControlName="email" name="email" placeholder="Email">
        </div>
    </div>
</div>
</fieldset>
<fieldset class="bg-light bg-gradient mt-3">
  <div class="row mt-2"> 
<h3 class="col text-dark">EducationalDetails</h3>
<div class="col text-right">
    <button class="btn btn-warning btn-sm" (click)="addForm()">add+</button>
</div>
</div> 
<div class="row" formArrayName="educationalDetails" >
    <div *ngFor="let obj of getEducationalDetails().controls,let objPosition=index">   
    <div [formGroupName]="objPosition" >
    <div class="row m-3">
        <h5 class="col text-dark">Degree {{objPosition+1}}</h5>
        <div class="col text-right" *ngIf="objPosition!=0">
            <button class="btn btn-warning btn-sm" (click)="removeForm(objPosition)">remove-</button>
        </div>
    </div>
     <div class="row">
        <div class="col-6 mt-2">
            <input type="text" class="form-control" formControlName="degreeName" name="degreeName" placeholder="DegreeName">
        </div>
        <div class="col-6 mt-2">
            <input type="text" class="form-control" formControlName="type" name="type" placeholder="Type">
        </div>
     </div>
     <div class="row">
        <div class="col-6 mt-2">
            <input type="text" class="form-control" formControlName="passingYear" name="passingYear" placeholder="PassingYear" >
        </div>
        <div class="col-6 mt-2">
            <input type="text" class="form-control" formControlName="marksObtained" name="marksObtained" placeholder="MarksObtained">
        </div>
     </div>
    </div>
    </div>
</div>
</fieldset>
<fieldset class="bg-light bg-gradient mt-3">
<h3 class="text-dark">Address</h3>   
<div class="row m-3" formGroupName="address">
    <div class="row">
        <div class="col-6 mt-2">
            <input type="text" class="form-control" formControlName="city" name="city" placeholder="City">
        </div>
        <div class="col-6 mt-2">
            <input type="text" class="form-control" formControlName="state" name="state" placeholder="State" >
        </div>
    </div>
    <div class="row">
        <div class="col-6 mt-2">
            <input type="text" class="form-control" formControlName="country" name="country" placeholder="Country">
        </div>
        <div class="col-6 mt-2">
            <input type="text" class="form-control" formControlName="pincode" name="pincode" placeholder="Pincode">
        </div>
    </div>
</div>
<div class="row ">
    <div class="col mt-2 text-center">
        <button class="btn btn-warning">save</button>
    </div>
</div>
</fieldset>
</form>
</fieldset>
</div>
</div>